# Dependencies
/node_modules

# Build outputs
/build
/frontend/dist

# IDE
.zed/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & Profiling
*.log
*.test
*.prof
.golangci.yaml

# Go testing
*test.go

# Frontend cache
.vite/
*.local

# Vendor (deprecated)
/frontend/vendor

# Other
#.agents/
#.claude/
#AGENTS.md
#CLAUDE.md
#.zread/
